$primary-bg: #0f0f0f;
$nav-bg: #1a1a1a;
$content-bg: #2e2e2e;
$nav-border: #0f0f0f;
$active-color: #6feeff;
$primary-color: #FFFFFF;
$danger-text: #a80000;
$success-text: #4efc82;

body
{
    background-color: $primary-bg;
    color: $primary-color;
}

.navbar-div
{
    padding: 0px;
}

#navbar
{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: $nav-bg !important;
}

.navitem-custom
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid $nav-border;
    font-size: 14px;
}

.navitem-custom > a
{
    text-align: center;
}

.navitem-custom:hover > a:link, .navitem-custom:hover .navitem-icon
{
    color: $primary-color !important;
}

.navitem-active > a
{
    color: $primary-color;
}

.navitem-icon
{
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
}

.navitem-icon-active
{
    color: $primary-color !important;
}

.table-custom
{
    color: $primary-color;
}

.table-custom th
{
    border: none;
}

.table-custom thead th
{
    border-bottom: 1px solid $nav-bg;
}

.table-custom td
{
    border-top: 1px solid $nav-bg;
}

.bold
{
    font-weight: bold;
}

.danger-text
{
    color: $danger-text;
}

.success-text
{
    color: $success-text;
}